*{
    font-family: JetBrains Mono;
}

body {
    background: linear-gradient(-45deg, #dcf5a5, #d3ffce, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 10s ease infinite;
    height: 100vh;
  }
  
  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

  .main-container{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    height: 100%;
    width: 100%;
    padding: 20px 50px;
  }


.title-header{
    font-size: 42px;
}

.searchbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 30vw;
}

.searchbar input {
    border: 0;
    outline: 0;
}

.searchbar button {
    border: 0;
    outline: 0;
    background:#fcf9e9;
    opacity: 60%;
    border-radius: 25px;
    width: 30px;    
    height: 30px;
    cursor: pointer;
    margin-left: 10px;
}

.searchbar button img{
    width: 16px;
    height: 16px;
}

#city{
    border-radius: 10px;
    opacity: 70%;
    width: 30vw;
    height: 3vh;
    background-color: #fcf9e9;
}

.result-card{
    height: 40vh;
    width: 20%;
    border-radius: 20px;
    margin-top: 15vh;
    opacity: 60%;
    background-color: #fcf9e9;
    align-self: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
  }

